body {
  font-family: 'Poppins';
  padding: 3% 5%;

}

/* NAV BAR */

.nav-logo {

  letter-spacing: 1.5px;
  font-family: 'Libre Franklin';


}




/* HEADER  */
.header-main {
  position: relative;
  text-align:left;
  height: 500px;
  padding-top: 50px;
  max-width: 100%;
  margin-top: 5px;


}
.main-head{
  position: relative;
}
.template{
  width: 50%;
  position: relative;
  z-index: -1;
  float: right;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}
h1 {
  font-weight: bold;
  font-size: 50px;
}

.offer{
  font-size: 40px;
  text-align: center;
}
h2{
    text-align: center;

}

/* Search Bar */
.template-section{
  background-color: #e1e8ff;
  padding-bottom: 3%;
  padding-top: 3%;
  text-align: center;
}

.button {
  position: relative;
  border: none;
  padding: 20px 40px;
  background-color: #6689ff;
  letter-spacing: 1px;
  color: white;
  margin-top: 30px;
  font-weight: bold;
  font-size: 0.8rem;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}
.button:hover{
  background-color: #9fb5ff;
}

/* EDITOR */
.editor{
  display: flex;
  height: 500px;
  margin-top: 3%;
  margin-bottom: 3%;
}
.box-1{
  flex: 1;
padding-top: 40px;


}
.box-1 h2{
    text-align: left;
    font-size: 50px;

}
.box-2{
  background-image: url(images/editor.jpg);
  background-size: cover;
  flex:1;

}

/* SEARCH BAR */
.search-bar {
	position: relative;
    margin: 0 auto;
    width: 95%;
    max-width: 344px;
    height: 48px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.search-bar input {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 40px;
    left: 172px;
    margin: 4px 0;
    border: 0;
    border-radius: 0;
    outline: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
}

ul#wrapper2 {
    list-style: none;
    display: inline-block;
    margin-top: 50px;
	text-align: center;
}

#wrapper2 li {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    text-align: center;

}

#wrapper2 a{
    font-size: 12px;
    color: black;

    font-family: 'poppins';
    text-decoration: none;

}
.template-section a{
  font-size: 16px;
  color: black;
  font-family: 'poppins';
  text-decoration: none;


}

/* FOOTER */
#contact{
  text-align: center;
}
.icon-footer{
padding: 3%;
font-size: 2rem;
color: black;
}
.icon-footer:hover{
	color: #6689ff;
}
.copyright{
	padding: 3%;
}

/* CONTACT FORM */

#contact-form{
	background-color: #FFFDDB;
	text-align: center;
padding: 7% 0;
height: 600px;

}
#contact-form h2{
	letter-spacing: 5px;
}
.wrapper{
  box-sizing: border-box;
	position: relative;
margin:auto;

	max-width:400px;
	width: 100%;
	background: #fff;
	padding: 25px;
	border-radius: 5px;
	box-shadow: 4px 4px 2px rgba(254,236,164,1);

}

.wrapper h2{
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 3px;

}
.wrapper .input_field{
	margin-bottom: 10px;
}
.wrapper .input_field input[type="text"],
.wrapper textarea{
	width: 100%;
	border:1px solid #e0e0e0;
	padding: 10px;
}
.wrapper textarea{
	height: 80px;
}
.wrapper .btn2 input[type="submit"]{
	border: 0;
	margin-top: 15px;
	padding: 10px;
	width: 100%;
	background: #fece0c;
	color: #333902;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: bold;
	border-radius: 25px;
	cursor: pointer;
}
.wrapper #error_message{
	margin-bottom: 20px;
	padding: 0px;
	background: #fe8b8e;
	text-align: center;
	font-size: 14px;
	transition: all 0.5s ease;
}
